html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", href="favicon.ico")
    body
        div(class="")
            section
                nav(class="navbar navbar-expand-lg navbar-light")
                    div(class="container")
                        a(class="navbar-brand", href="#")               
                        |             
                        button(class="navbar-toggler", type="button", data-toggle="side-menu", data-target="#sideMenu03", aria-controls="sideMenu03", aria-expanded="false", aria-label="Toggle navigation")
                            span(class="navbar-toggler-icon")
                        div(class="collapse navbar-collapse ms-3")
                            ul(class="navbar-nav me-auto")
                                li(class="nav-item")
                                    a(class="nav-link me-3", href="#") Home
                                li(class="nav-item")
                                    a(class="nav-link me-3", href="#") About Us
                                li(class="nav-item")
                                    a(class="nav-link me-3", href="#") Hours & Location
                                li(class="nav-item")
                                    a(class="nav-link", href="#") Gallery
                                li(class="nav-item")
                                    a(class="nav-link", href="#") Testimonials
                                li(class="nav-item")
                                    a(class="nav-link", href="#") Contact Us
                            div(class="ms-auto")
                div(class="d-none fixed-top top-0 bottom-0", id="sideMenu03")
                    div(class="position-absolute top-0 end-0 bottom-0 start-0 bg-dark", style="opacity: 0.7")
                    nav(class="navbar navbar-light position-absolute top-0 bottom-0 start-0 w-75 pt-3 pb-4 px-4 bg-white", style="overflow-y: auto;")
                        div(class="d-flex flex-column w-100 h-100")
                            div(class="d-flex justify-content-between mb-4")
                                a(href="#")
                                    img(class="img-fluid", src="metis-assets/logos/metis/metis.svg", alt="", width="106")
                                button(class="btn-close", type="button", data-toggle="side-menu", data-target="#sideMenu03", aria-controls="sideMenu03", aria-label="Close")
                            div
                                ul(class="navbar-nav mb-4")
                                    li(class="nav-item")
                                        a(class="nav-link", href="#") Home
                                    li(class="nav-item")
                                        a(class="nav-link", href="#") About Us
                                    li(class="nav-item")
                                        a(class="nav-link", href="#") Hours & Location
                                    li(class="nav-item")
                                        a(class="nav-link", href="#") Gallery
                                div(class="border-top pt-4 mb-5")
                                    a(class="btn btn-outline-primary w-100 mb-2", href="#") Log in
                                    a(class="btn btn-primary w-100", href="#") Sign up
                            div(class="mt-auto")
                                p
                                    span Get in Touch
                                    |                   
                                    a(href="#") info@example.com
                                a(class="me-2", href="#")
                                    img(src="metis-assets/icons/facebook-blue.svg", alt="")
                                |                 
                                a(class="me-2", href="#")
                                    img(src="metis-assets/icons/twitter-blue.svg", alt="")
                                |                 
                                a(class="me-2", href="#")
                                    img(src="metis-assets/icons/instagram-blue.svg", alt="")
            section(class="py-5")
                div(class="container")
                    div(class="row mb-4")
                        div(class="col-lg-5 text-center mx-auto")
                            h2(class="mt-4 fs-1 fw-bold") Contact Us
                    div(class="row")
                        div(class="col-lg-6 mx-auto")
                            form(class="mb-2 mb-lg-5", action="#")
                                div(class="d-flex justify-content-center mb-4")
                                    div(class="form-check")                     
                                    |                   
                                div(class="mb-3")
                                    input(class="form-control py-2 px-3 bg-light border-0", type="text", placeholder="Subject")
                                div(class="mb-3")
                                    input(class="form-control py-2 px-3 bg-light border-0", type="text", placeholder="Name")
                                div(class="mb-3")
                                    input(class="form-control py-2 px-3 bg-light border-0", type="email", placeholder="name@example.com")
                                div(class="mb-3")
                                    textarea(class="form-control py-2 px-3 bg-light border-0", type="text", placeholder="Message...")
                                div(class="mb-4 input-group")                   
                                |                 
                                div(class="d-flex justify-content-between")
                                    div(class="form-check")                     
                                    |                   
                                    button(class="btn btn-primary", type="submit") Submit
            section(class="py-1")
                div(class="container")
                    div(class="row mb-4")       
                    |       
                    |           
                    div(class="row")
                        div(class="col-12 col-lg-6 text-center text-lg-left order-1 order-lg-0")
                            p(class="small text-muted mb-0") © 2021. All rights reserved.
                        div(class="col-12 col-lg-6 mb-4 mb-lg-0 text-center text-lg-right")
                            a(class="me-3", href="#")
                                img(src="metis-assets/icons/facebook-blue.svg", alt="")
                            |               
                            a(class="me-3", href="#")
                                img(src="metis-assets/icons/twitter-blue.svg", alt="")
                            |               
                            a(href="#")
                                img(src="metis-assets/icons/instagram-blue.svg", alt="")
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
