html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="icon", href="favicon.ico")
    body
        div(class="container-fluid")
            nav(class="navbar navbar-expand-lg navbar-light")
                a(class="navbar-brand d-lg-none", href="#") Pied Piper
                button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navigations-02")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse justify-content-md-center", id="navigations-02")
                    div(class="row w-100")
                        div(class="col-4 pl-lg-0")
                            ul(class="navbar-nav")
                                li(class="nav-item")
                                    a(class="nav-link active", href="#")
                                        |                     Features
                                        |                     
                                        span(class="sr-only") (current)
                                li(class="nav-item")
                                    a(class="nav-link", href="#") Enterprise
                                li(class="nav-item")
                                    a(class="nav-link", href="#") Support
                        div(class="col-4 navbar-nav text-center pr-0 d-none d-lg-block")
                            a(class="navbar-brand mr-0", href="#") Pied Piper
                        div(class="col-4 pr-lg-0")
                            ul(class="navbar-nav justify-content-end")
                                li(class="nav-item")
                                    a(class="nav-link", href="#") ICO
                                li(class="nav-item")
                                    a(class="nav-link", href="#") Whitepaper
                                li(class="nav-item")
                                    a(class="nav-link", href="#") Token
            section(class="py-5")
                div(class="container")
                    div(class="table-responsive")
                        table(class="table table-striped text-center")
                            thead
                                tr
                                    th(class="border-top-0 w-100 text-left")
                                    th(class="border-top-0") PiperNet
                                    th(class="border-top-0") Internet
                            tbody
                                tr
                                    td(class="text-left") Security
                                    td
                                        img(src="placeholder/icons/check.svg", alt="Contains")
                                    td
                                        img(src="placeholder/icons/close.svg", alt="Do not contain")
                                tr
                                    td(class="text-left") Privacy
                                    td
                                        img(src="placeholder/icons/check.svg", alt="Contains")
                                    td
                                        img(src="placeholder/icons/close.svg", alt="Do not contain")
                                tr
                                    td(class="text-left") Speed
                                    td
                                        img(src="placeholder/icons/check.svg", alt="Contains")
                                    td
                                        img(src="placeholder/icons/close.svg", alt="Do not contain")
                                tr
                                    td(class="text-left") Decentralization
                                    td
                                        img(src="placeholder/icons/check.svg", alt="Contains")
                                    td
                                        img(src="placeholder/icons/close.svg", alt="Do not contain")
                                tr
                                    td(class="text-left") Infrastructureless
                                    td
                                        img(src="placeholder/icons/check.svg", alt="Contains")
                                    td
                                        img(src="placeholder/icons/close.svg", alt="Do not contain")
                                tr
                                    td(class="text-left") Free storage
                                    td
                                        img(src="placeholder/icons/check.svg", alt="Contains")
                                    td
                                        img(src="placeholder/icons/close.svg", alt="Do not contain")
            footer(class="py-3")
                div(class="container")
                    div(class="d-flex justify-content-center align-items-center flex-column")
                        h5(class="mb-3")
                            a(href="#") Pied Piper
                        div(class="d-flex mb-3")
                            a(href="#")
                                img(class="mr-3", src="placeholder/icons/twitter.svg", alt="")
                            |               
                            a(href="#")
                                img(class="mr-3", src="placeholder/icons/facebook-f.svg", alt="")
                            |               
                            a(href="#")
                                img(class="mr-3", src="placeholder/icons/instagram.svg", alt="")
                            |               
                            a(href="#")
                                img(src="placeholder/icons/linkedin-in.svg", alt="")
                        div(class="d-flex")
                            p(class="mb-0 small text-muted") © 2020 Pied Piper. All rights reserved.
        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
