$black: #000;
$red: #dc3545;
$body-color: $red;
$text-muted: $black;
$gray-400: #ced4da;
$gray-200: #e9ecef;
$gray-600: #6c757d;
$yellow: #ffc107;
$body-bg: $yellow;
$component-active-color: $red;
$gray-900: #212529;
$border-color: $gray-900;
$border-width: 1px;
$gray-100: #f8f9fa;
$light: $gray-100;
$font-weight-light: 500;
$headings-font-weight: 700;
$btn-link-color: $red;
$btn-link-hover-color: $red;
$link-color: $red;
$link-hover-color: $red;
$spacer: 2.5rem;
$navbar-padding-y: 1.25rem;
$navbar-nav-link-padding-x: 2rem;
$navbar-brand-margin-right: .5rem;
$nav-link-padding-y: .5rem;
$nav-link-padding-x: 1rem;
